<button #editBtn type="button" class="btn btn-sm text-primary" (click)="resourceComponent.startEditing()" tabindex="-1">
  <i class="fa fa-pencil" aria-hidden="true"></i>
</button>

<button *ngIf="!!resourceComponent.childrenKind" type="button" class="btn btn-sm text-primary"
  (click)="resourceComponent.doAdd($event)" tabindex="-1">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>

<button type="button" class="btn btn-sm text-danger" (click)="resourceComponent.doDelete($event)" tabindex="-1">
  <i class="fa fa-trash" aria-hidden="true"></i>
</button>
