<form class="d-flex flex-column align-items-stretch" [formGroup]="form">
  <div class="form-group">
    <label class="sr-only"></label>
    <input #initialFocus formControlName="label" type="text" (keydown.enter)="doCommit($event)"
      (keydown.esc)="doRollback($event)" class="form-control form-control-sm flex-grow-1"
      placeholder="Add a context label...">
  </div>
  <div class="form-group">
    <label for="context-description" class="sr-only">Context description</label>
    <textarea placeholder="Explain some more if needed..." formControlName="description"
      class="form-control form-control-sm" rows="2"></textarea>
  </div>
  <div class="align-self-start">
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="doCommit($event)"><i class="fa fa-check"
        aria-hidden="true"></i>
      Confirm</button>
    <button type="button" class="btn btn-sm btn-outline-default ml-1" (click)="doRollback($event)"><i
        class="fa fa-times" aria-hidden="true"></i>
      Cancel</button>
  </div>
</form>
