<ng-template #view>
  <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
    <h4 class="mr-auto">{{ impact.description }}</h4>
    <button #editButton type="button" class="btn btn-sm btn-outline-primary" (click)="startEditing($event)"><i class="fa fa-pencil"
         aria-hidden="true"></i> Modify
      description</button>

  </div>
</ng-template>

<ng-template #editing>
  <form [formGroup]="form" class="d-flex flex-column flex-md-row">
    <span class="d-flex flex-row flex-grow-1">
      <label class="sr-only">Describe your impact:</label>
      <input #descriptionInput type="text" formControlName="description" class="form-control form-control-sm justify-self-stretch"
             name="impactDescription" [id]="id" placeholder="Describe your impact" (keydown.enter)="doSave($event)"
             (keydown.esc)="doCancel($event)">
    </span>
    <span class="flex-grow-0">
      <button type="button" class="btn btn-sm" (click)="doCancel($event)"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
      <button type="button" class="btn btn-sm btn-outline-primary" (click)="doSave($event)"><i class="fa fa-check" aria-hidden="true"></i>
        Save</button>
    </span>
  </form>
</ng-template>
<ng-container [ngTemplateOutlet]="state === 'editing' ? editing : view"></ng-container>
