<ng-template #contactToggleBtn>
    <button i18n class="btn btn-outline-primary btn-sm" (click)="showContact()">Afficher les information de contact</button>
  </ng-template>
  <ng-template #contactInformation>
    <div class="row">
      <address class="col">
        Romain Tête<br />
        <ng-container i18n>@: </ng-container><a href="mailto:jobsearch.romain@gmail.com">romain.tete@gmail.com</a>
      </address>
    </div>
  </ng-template>
  <ng-container [ngTemplateOutlet]="contactShown ? contactInformation : contactToggleBtn"></ng-container>
  