<ng-template #view>
  <xa-resource-row #row xaExactHover (hoverStart)="row.shouldShowActions = true"
    (hoverEnd)="row.shouldShowActions = false">
  </xa-resource-row>
</ng-template>

<ng-template #edition>
  <ng-container xaResourceForm (commit)="doneEditing($event)" (rollback)="cancelEditing()"></ng-container>
</ng-template>

<ng-container *ngIf="state === 'editing'; then edition; else view"></ng-container>

<xa-resource xaTreeNode *xaResourceList="let resource; let childrenKind=childrenKind" [resource]="resource"
  [childrenKind]="childrenKind"></xa-resource>
