<xa-page-header xaHideOnPrint>
  <xa-page-title xaHideOnPrint i18n>Experiences</xa-page-title>
  <xa-navigation></xa-navigation>
</xa-page-header>

<xa-contact></xa-contact>

<xa-tree-root xaTreeEventsManager>
  <xa-resource *xaResourceList="let resource; let childrenKind=childrenKind; layers: ['Context', 'Role', 'Impact']"
    xaTreeNode [resource]="resource" [childrenKind]="childrenKind">
  </xa-resource>
</xa-tree-root>

<button xaHideOnPrint type="button" class="btn btn-sm btn-outline-primary m-2" (click)="addContext()"><i
    class="fa fa-plus" aria-hidden="true"></i> Add a context</button>
