<ng-template #view>
  {{ context.label }} <button #editBtn type="button" class="btn btn-outline-primary btn-sm" (click)="startEditing()"><i
      class="fa fa-pencil" aria-hidden="true"></i> Change label</button> <button #editBtn type="button"
    class="ml-1 btn btn-outline-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Add a role</button>
</ng-template>

<ng-template #edition>
  <form class="form-row" [formGroup]="form">
    <div class="col-auto">
      <label class="sr-only" [for]="id">New label</label>
      <input #labelInput type="text" class="col-auto form-control form-control-sm" name="context-label" [id]="id"
        placeholder="" formControlName="label" (keydown.enter)="doneEditing($event)" (keydown.esc)="cancelEditing()">
    </div>
    <button type="button" class="btn btn-sm ml-1" (click)="cancelEditing()">Cancel</button>
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="doneEditing($event)">Confirm</button>
  </form>
</ng-template>

<ng-container *ngIf="editing; then edition; else view"></ng-container>
