<ng-template #view>
  <div class="d-flex flex-column flex-md-row align-items-md-center">
    <h3 class="mr-auto">{{ role.label }}</h3>
    <button #editBtn class="btn btn-sm btn-outline-primary" (click)="startEditing()"><i class="fa fa-pencil" aria-hidden="true"></i> Change
      label</button>
  </div>
</ng-template>

<ng-template #editing>
  <form class="d-flex flex-column flex-md-row" [formGroup]="form">
    <span class="d-flex flex-grow-1">
      <label class="sr-only" [for]="id">Role label:</label>
      <input #labelInput type="text" name="roleLabel" [id]="id" formControlName="label"
             class="form-control form-control-sm justify-self-stretch" (keydown.enter)="doSave($event)" (keydown.esc)="doCancel($event)">
    </span>
    <span class="flew-grow-0">
      <button class="btn btn-sm" (click)="doCancel($event)"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
      <button class="btn btn-sm btn-outline-primary" (click)="doSave($event)"><i class="fa fa-check" aria-hidden="true"></i>
        Save</button>
    </span>
  </form>
</ng-template>

<ng-container [ngTemplateOutlet]="state === 'view' ? view : editing"></ng-container>

<xa-impact-list></xa-impact-list>
