<div class='col-md-2 col-12 mb-2 text-wrap'>
  <span class="d-inline d-md-block mr-2 mr-md-0 text-nowrap"><i class="far fa-building mr-1" title="entreprise"
      i18n-title></i>&nbsp;{{ company }}</span>
  <span class="d-inline d-md-block mr-2 mr-md-0 text-nowrap"><i class="fa fa-location-arrow mr-1"
      title="Localisation de l'entreprise" i18n-title></i>&nbsp;{{ location }}</span>
  <span class="d-inline d-md-block mr-2 mr-md-0 text-nowrap"><i class="far fa-calendar mr-1"
      title="Date de prise de poste" i18n-title></i>&nbsp;{{ startDate | date:'MM/yyyy' }}</span>
  <span class="d-inline d-md-block mr-2 mr-md-0 text-nowrap"><i class="far fa-calendar-times mr-1"
      title="Date de fin de poste" i18n-title></i>&nbsp;{{ endDate | date:'MM/yyyy' }}</span>
</div>

<div class='col-md-10 col-12'>
  <ng-content></ng-content>
</div>
