<header class="mb-5">
  <div class="picture-wrapper d-inline-block">
    <img src="assets/images/picture.png" />
  </div>
  <address class="d-inline-block ml-3">
    <strong>Romain Tête</strong><br />
    57 rue d'Annonay<br />
    43190 Tence<br />
    France<br />
    <ng-container i18n>Tél: </ng-container><a href="tel:+33674393989">+33 6 74 39 39 89</a><br />
    <ng-container i18n>@: </ng-container><a href="mailto:romain.tete@gmail.com">romain.tete@gmail.com</a>
  </address>
  <xa-actions></xa-actions>
</header>

<h1 i18n class="my-5">Recherche rôle de développeur fullstack en télétravail</h1>

<section id="search" class="content-section">
  <dl class="row">
    <div class="col-md-5 col-12">
      <dt i18n>Équipe</dt>
      <dd i18n>Petite équipe agile, pluridisciplinaire et très horizontale.</dd>
    </div>
    <div class="col-md-7 col-12">
      <dt i18n>Projet</dt>
      <dd i18n>Développement d'un produit ambitieux, B2C (ou à destination de petites entreprises) et une proposition
        de valeur claire.
      </dd>
    </div>

    <div class="col-md-5 col-12">
      <dt i18n>Mes points forts: </dt>
      <dd>
        <ul class="lighter-list-style">
          <li i18n>Très bon niveau technique général</li>
          <li i18n>Bonne communication, y compris avec des publics non-techniques</li>
          <li i18n>J'apprends vite et en autonomie</li>
          <li i18n>J'aime relever les challenges et faire face à l'inconnu</li>
          <li i18n>Je sais m'investir pour tenir une deadline</li>
        </ul>
      </dd>
    </div>

    <div class="col-md-7 col-12">
      <dt i18n>Technologies souhaitées (maitrise actuelle): </dt>
      <dd>
        <ul class="lighter-list-style">
          <li i18n>Frontend: Angular (expert), React (débutant)</li>
          <li i18n>Backend: NestJS (maitrise), Express (débutant), Serverless (débutant)</li>
          <li i18n>Architecture: Microservices (maitrise), Microfrentend (débutant)</li>
          <li i18n>Mention spéciale: Rust (débutant), WASM (débutant), Microsoft Azure Cloud (intermédiaire)</li>
        </ul>
      </dd>
    </div>
  </dl>
</section>

<hr />

<section id="experience" class="content-section">
  <xa-experience start="01/09/2017" end="30/04/2020" company="Tandemploy" location="Berlin">
    <xa-role i18n-name name="CTO" start="01/09/2018" end="30/04/2020">
      <xa-role-highlight i18n>Management d'une équipe de 6 personnes</xa-role-highlight>
      <xa-role-highlight i18n>Réécriture d'un backend Rails en microservices NestJS</xa-role-highlight>
      <xa-role-highlight i18n>Migration de l'infrastructure de Docker Swarm vers Kubernetes</xa-role-highlight>
      <xa-role-highlight i18n>Amélioration des workflows (CI/CD, Telepresence, etc.)</xa-role-highlight>
      <xa-role-highlight i18n>PaaS/IaaS Microsoft Azure</xa-role-highlight>
    </xa-role>

    <xa-role i18n-name name="Lead frontend developper" start="01/09/2017" end="31/08/2018">
      <xa-role-highlight i18n>Développement et maintenance d'une SPA multi-tenants avec Angular</xa-role-highlight>
      <xa-role-highlight i18n>Refactoring de la base de code en monorepo</xa-role-highlight>
      <xa-role-highlight i18n>Migration de Angular 1 vers Angular 6+</xa-role-highlight>
    </xa-role>
  </xa-experience>

  <xa-experience start="01/09/2012" end="01/07/2017" location="Lyon" company="Lyon">
    <xa-role start="01/09/2015" end="31/07/2017" name="CTO" i18n-name>
      <xa-role-highlight i18n>Gestion d'une équipe de 5 en interne et 1 extèrne</xa-role-highlight>
      <xa-role-highlight i18n>Mise en place de Scrum</xa-role-highlight>
    </xa-role>

    <xa-role start="01/09/2012" end="01/09/2015" name="Apprenti" i18n-name>
      <xa-role-highlight i18n>Création du produit commercialisé par Skilvioo et de tous les workflows associés.
      </xa-role-highlight>
      <xa-role-highlight i18n>Ecriture et maintenance de l'application avec PHP, MySQL, Symfony 2 et jQuery
      </xa-role-highlight>
    </xa-role>
  </xa-experience>
</section>

<hr />

<section id="miscellaneous" class="content-section">
  <dl class="row">
    <div class="col-md-5 col-12">
      <dt i18n>Langues</dt>
      <dd>
        <ol class="lighter-list-style">
          <li i18n>Français (maternelle)</li>
          <li i18n>Anglais (courant)</li>
        </ol>
      </dd>
    </div>
    <div class="col-md-7 col-12">
      <dt i18n>Diplômes</dt>
      <dd>
        <ol class="lighter-list-style">
          <li i18n>Diplôme d'ingénieur en développement logiciel à Polytech Lyon</li>
          <li i18n>DUT Informatique à l'IUT de Lyon</li>
        </ol>
      </dd>
    </div>
  </dl>
</section>
