<header class="mb-5">
  <div class="picture-wrapper d-inline-block">
    <img src="assets/images/picture.png" />
  </div>
  <address class="d-inline-block ml-3">
    <strong>Romain Tête</strong><br />
    57 rue d'Annonay<br />
    43190 Tence<br />
    France<br />
    <ng-container i18n>Tél: </ng-container><a href="tel:+33674393989">+33 6 74 39 39 89</a><br />
    <ng-container i18n>@: </ng-container><a href="mailto:romain.tete@gmail.com">romain.tete@gmail.com</a>
  </address>
</header>

<h1 i18n>Recherche rôle de développeur fullstack en télétravail</h1>

<section id="search" class="content-section">
  <dl class="row">
    <div class="col-md-5 col-12">
      <dt i18n>Équipe</dt>
      <dd i18n>Petite équipe agile, pluridisciplinaire et très horizontale.</dd>
    </div>
    <div class="col-md-7 col-12">
      <dt i18n>Projet</dt>
      <dd i18n>Développement d'un produit ambitieux, B2C (ou à destination de petites entreprises) et une proposition
        de valeur claire.
      </dd>
    </div>

    <div class="col-md-5 col-12">
      <dt i18n>Mes points forts: </dt>
      <dd>
        <ul class="lighter-list-style">
          <li i18n>Très bon niveau technique général</li>
          <li i18n>Bonne communication, y compris avec des publics non-techniques</li>
          <li i18n>J'apprends vite et en autonomie</li>
          <li i18n>J'aime relever les challenges et faire face à l'inconnu</li>
          <li i18n>Je sais m'investir pour tenir une deadline</li>
        </ul>
      </dd>
    </div>

    <div class="col-md-7 col-12">
      <dt i18n>Technologies souhaitées (maitrise actuelle): </dt>
      <dd>
        <ul class="lighter-list-style">
          <li i18n>Frontend: Angular (expert), React (débutant)</li>
          <li i18n>Backend: NestJS (maitrise), Express (débutant), Serverless (débutant)</li>
          <li i18n>Architecture: Microservices (maitrise), Microfrentend (débutant)</li>
          <li i18n>Mention spéciale: Rust (débutant), WASM (débutant), Microsoft Azure Cloud (intermédiaire)</li>
        </ul>
      </dd>
    </div>
  </dl>
</section>

<hr />

<section id="experience" class="content-section">
  <article class="row">
    <h6 class="col-md-5 col-12">
      <span class="experience-start" i18n>Sep. 2017</span>&nbsp;
      <span class="experience-end" i18n>- Avr. 2020</span><br />
      <span class="experience-company" i18n>Tandemploy</span>&nbsp;
      <span class="experience-location" i18n>(Berlin)</span>
    </h6>
    <div class="col-md-7 col-12">
      <ul class="lighter-list-style">
        <small class="d-block font-weight-bold" i18n>Rôle CTO (Sep. 2018 - Avr. 2020)</small>
        <li i18n>Management d'une équipe de 6 personnes</li>
        <li i18n>Réécriture d'un backend Rails en microservices NestJS</li>
        <li i18n>Migration de l'infrastructure de Docker Swarm vers Kubernetes</li>
        <li i18n>Amélioration des workflows (CI/CD, Telepresence, etc.)</li>
        <li i18n>PaaS/IaaS Microsoft Azure</li>

        <small class="d-block font-weight-bolder" i18n>Rôle lead-développeur frontend (Sep. 2017 - Août 2018)</small>
        <li i18n>Développement et maintenance d'une SPA multi-tenants avec Angular</li>
        <li i18n>Refactoring de la base de code en monorepo</li>
        <li i18n>Migration de Angular 1 vers Angular 6+</li>
      </ul>
    </div>
  </article>

  <article class="row">
    <h6 class="col-md-5 col-12">
      <span class="experience-start" i18n>Juin 2012</span>&nbsp;
      <span class="experience-end" i18n>- Jul. 2017</span><br />
      <span class="experience-company" i18n>Skilvioo</span>&nbsp;
      <span class="experience-location" i18n>(Lyon)</span>
    </h6>
    <div class="col-md-7 col-12">
      <ul class="lighter-list-style">
        <small class="d-block font-weight-bold" i18n>Rôle CTO (Sep. 2015 - Jul. 2017)</small>
        <li i18n>Gestion d'une équipe de 5 en interne et 1 extèrne</li>
        <li i18n>Mise en place de Scrum</li>

        <small class="d-block font-weight-bold" i18n>Rôle apprenti (Sep. 2012 - Jul. 2015)</small>
        <li i18n>Création de zéro du produit commercialisé par Skilvioo et de tous les workflows associés.</li>
        <li i18n>Ecriture et maintenance de l'application avec PHP, MySQL, Symfony 2 et jQuery</li>
      </ul>
    </div>
  </article>
</section>
<hr />

<section id="miscellaneous" class="content-section">
  <dl class="row">
    <div class="col-md-5 col-12">
      <dt i18n>Langues</dt>
      <dd>
        <ol class="lighter-list-style">
          <li i18n>Français (maternelle)</li>
          <li i18n>Anglais (courant)</li>
        </ol>
      </dd>
    </div>
    <div class="col-md-7 col-12">
      <dt i18n>Diplômes</dt>
      <dd>
        <ol class="lighter-list-style">
          <li i18n>Diplôme d'ingénieur en développement logiciel à Polytech Lyon</li>
          <li i18n>DUT Informatique à l'IUT de Lyon</li>
        </ol>
      </dd>
    </div>
  </dl>
</section>
