<ng-template #view>
  <div class="d-flex flex-column flex-md-row">
    <h2 class="mb-1 mr-auto">{{ context.label }}</h2>
    <button #editBtn type="button" class="btn btn-outline-primary btn-sm  align-self-start align-self-md-center" (click)="startEditing()"><i
         class="fa fa-pencil" aria-hidden="true"></i> Change label</button>
  </div>

  <xa-role-list></xa-role-list>
</ng-template>

<ng-template #edition>
  <form class="d-flex flex-column align-items-stretch flex-md-row align-items-md-center" [formGroup]="form">
    <span class="mb-2 mr-md-auto flex-md-grow-1 d-flex flex-row">
      <label class="sr-only" [for]="id">Context label</label>
      <input #labelInput type="text" class="form-control form-control-sm justify-self-stretch" name="context-label" [id]="id" placeholder=""
             formControlName="label" (keydown.enter)="doneEditing($event)" (keydown.esc)="cancelEditing()">
    </span>
    <span>
      <button type="button" class="btn btn-sm ml-1" (click)="cancelEditing()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
      <button type="button" class="btn btn-outline-primary btn-sm align-self-end" (click)="doneEditing($event)"><i class="fa fa-check"
           aria-hidden="true"></i> Confirm</button>
    </span>
  </form>
</ng-template>

<ng-container *ngIf="state === 'editing'; then edition; else view"></ng-container>
