<header class="mb-5">
  <h1 i18n #resumeTitle>Ingénieur en développement logiciel (en télétravail)</h1>
  <xa-contact class="row"></xa-contact>
  <xa-actions class="row"></xa-actions>
</header>

<xa-experience start="01/09/2017" end="30/04/2020" company="Tandemploy" location="Berlin">
  <xa-role i18n-name name="CTO & Lead frontend" start="01/09/2018" end="30/04/2020">
    <xa-list>
      <xa-list-heading xaRoleHeading></xa-list-heading>
      <xa-list-item i18n>Pilotages opérationnel et tactique de l'équipe d'ingénieurs (5 devs et 1 infra)</xa-list-item>
      <xa-list-item i18n>Création et suivi de plusieurs projets de refonte du système d'information: introduction de
        NestJS, introduction de Kubernetes, adoption des services du IaaS de Microsoft Azure (Kubernetes, Service Bus,
        B2C Tenant, CosmosDB, Postgres)
      </xa-list-item>
      <xa-list-item i18n>Communication intèrnes avec les différents pôles de Tandemploy (legal, marketing, ventes et
        produit)
      </xa-list-item>
    </xa-list>
    <xa-role-skills>
      <xa-role-skill i18n>leadership technique</xa-role-skill>
      <xa-role-skill i18n>veille technologique fullstack</xa-role-skill>
      <xa-role-skill i18n>communication</xa-role-skill>
      <xa-role-skill i18n>reporting stratégique</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>NestJS</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>Ruby on Rails</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>architecture en microservices</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>Gitlab CI</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>Microsoft Azure Cloud</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>Ansible</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>Kubernetes</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>Docker</xa-role-skill>
    </xa-role-skills>
  </xa-role>

  <xa-role i18n-name name="Lead frontend développeur" start="01/09/2017" end="31/08/2018">
    <xa-list>
      <xa-list-heading xaRoleHeading></xa-list-heading>
      <xa-list-item i18n>Maintenance et développement d'une application frontend complexe avec Angular</xa-list-item>
      <xa-list-item i18n>Maintien en bon état la base de code selon des critères de maintenabilité, de cohérence et
        du respect des "best-practices".</xa-list-item>
      <xa-list-item i18n>Migration de l'application de Angular 1 vers Angular 6+</xa-list-item>
    </xa-list>
    <xa-role-skills>
      <xa-role-skill i18n>Angular</xa-role-skill>
      <xa-role-skill i18n>Typescript</xa-role-skill>
      <xa-role-skill i18n>veille technologique frontend</xa-role-skill>
      <xa-role-skill i18n>leadership technique</xa-role-skill>
      <xa-role-skill i18n>communication</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>Ruby on Rails</xa-role-skill>
      <xa-role-skill kind="secondary" i18n>Docker</xa-role-skill>
    </xa-role-skills>
  </xa-role>
</xa-experience>

<xa-experience start="01/09/2012" end="01/07/2017" location="Lyon" company="Skilvioo">
  <xa-role start="01/09/2015" end="31/07/2017" name="CTO" i18n-name>
    <xa-list>
      <xa-list-heading xaRoleHeading></xa-list-heading>
      <xa-list-item i18n>Pilotage opérationnel et tactique de l'équipe de devs (5 personnes).</xa-list-item>
      <xa-list-item i18n>Reporting stratégique.</xa-list-item>
      <xa-list-item i18n>Communication extèrnes avec les clients lors des phases de mise en service et support
        pré-vente.</xa-list-item>
      <xa-list-item i18n>Construction d'un modèle de la compétence appuyé sur des travaux scientifiques.</xa-list-item>
    </xa-list>
    <xa-role-skills>
      <xa-role-skill i18n>leadership technique</xa-role-skill>
      <xa-role-skill i18n>veille technologique</xa-role-skill>
      <xa-role-skill i18n>communication</xa-role-skill>
      <xa-role-skill i18n>PHP</xa-role-skill>
      <xa-role-skill i18n>Symfony</xa-role-skill>
      <xa-role-skill i18n>jQuery</xa-role-skill>
      <xa-role-skill i18n>MySQL</xa-role-skill>
      <xa-role-skill i18n>Mythril.js</xa-role-skill>
      <xa-role-skill i18n>Git</xa-role-skill>
    </xa-role-skills>
  </xa-role>

  <xa-role start="01/09/2012" end="01/09/2015" name="Apprenti" i18n-name>
    <xa-list>
      <xa-list-heading xaRoleHeading></xa-list-heading>
      <xa-list-item i18n>Développement d'une application avec PHP, MySQL, Symfony 2 et jQuery</xa-list-item>
    </xa-list>
    <xa-role-skills>
      <xa-role-skill i18n>PHP</xa-role-skill>
      <xa-role-skill i18n>Framework Yii</xa-role-skill>
      <xa-role-skill i18n>Angular 1</xa-role-skill>
      <xa-role-skill i18n>jQuery</xa-role-skill>
      <xa-role-skill i18n>MySQL</xa-role-skill>
      <xa-role-skill i18n>Subversion</xa-role-skill>
    </xa-role-skills>
  </xa-role>
</xa-experience>

<hr />

<section class="row">
  <xa-list class="col-md col-12">
    <xa-list-heading i18n>Langues:</xa-list-heading>
    <xa-list-item i18n>Français (maternelle)</xa-list-item>
    <xa-list-item i18n>Anglais (courant)</xa-list-item>
  </xa-list>

  <xa-list class="col-md col-12">
    <xa-list-heading i18n>Diplômes:</xa-list-heading>
    <xa-list-item i18n>Diplôme d'ingénieur en développement logiciel à Polytech Lyon</xa-list-item>
    <xa-list-item i18n>DUT Informatique à l'IUT de Lyon</xa-list-item>
  </xa-list>
</section>
